.react-calendar__tile.highlight-available {
  background-color: #e6ffe6;
  font-weight: bold;
  border: 1px solid #00aa00;
  color: #006600;
  border-radius: 8px;
}

.react-calendar__tile.highlight-selected {
  background-color: #007bff !important;
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
}
